@charset "utf-8";
/* ------------ #media ---------------- */

#media {
    position: relative;
}

#media img {
    display: block;
    width: 100%;
}

#media figcaption {
    position: absolute;
    top: 80px;
    left: 145px;
    width: 500px;
    color: #fff;
}

#media h1 {
    font-size: 3.4rem;
}

#media p.txt {
    font-size: 1.6rem;
    line-height: 1.6em;
}

/* ------------ section ---------------- */

section, form{
    padding: 0 40px;
}

/* ------------ h1#titlesecoes ---------------- */

#titlesecoes{
    margin: 80px 0;
    font-size: 2.8rem;
    font-weight: normal;
    text-align: center;
    color: rgb(63, 68, 68);
}

/* ------------ #dados ---------------- */

#dados{
    display: flex;
    font-size: 2.4rem;
    background-color: darkblue;
}

#dados img{
    float: left;
    max-width: 64px;
    margin-right: 25px;
}

#dados li:first-child img{
    max-width: 78px;
}

#dados h1{
    margin: 10px 0 0;
    font-weight: normal;
    color: #aaa;
    font-size: 2.4rem;
}

#dados p{
    font-weight: normal;
    color: #444;
}

#dados ul{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    border-right: solid 1px rgb(0, 0, 0);
}

#dados ul li{
    width: 50%;
    background-color: blueviolet;
}

#dados ul li:last-child{
    width: 100%;
    margin-top: 60px;
}

#dados div{
    width: 445px;
    background-color: chartreuse;
}

#dados div p{
    width: 353px;
    overflow: auto;
    background-color: darkgoldenrod;
}

/* ------------ form ---------------- */

form{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

span:first-child{
    padding-right: 80px;
}

form span{
    display: block;
    width: 50%;
}

input, textarea{
    padding: 5px 10px 0 15px;
    width: 100%;
    height: 47px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-family: 'montserratregular';
    font-size: 1.8rem;
}

::placeholder{
    opacity: .15;
}

label{
    display: block;
    margin-bottom: 10px;
    font-family: 'montserratregular';
    font-size: 1.8rem;
}

form input[type=submit]{
    font-family: 'montserratmedium';
    border: none;
    background-color: lightgreen;
    color: green;
}

textarea{
    height: 247px;
    resize: none;
}
