@charset "utf-8";
p {
  line-height: 2rem;
}

.sec-title {
  font-size: 3.6rem;
}

/* ------------ #media ---------------- */

#media {
  position: relative;
}

#media img {
  display: block;
  width: 100%;
}

#media figcaption {
  padding-right: 40px;
  position: absolute;
  top: 80px;
  left: 145px;
  max-width: 500px;
  color: #fff;
}

#media h1 {
  font-size: 4.8rem;
}

#media p.txt {
  margin: 15px 0;
  font-size: 1.8rem;
  line-height: 1.6em;
}

/* ------------ #figure ---------------- */

figure a {
  position: absolute;
  width: 160px;
  height: 50px;
  border: 1px solid rgb(230, 230, 230);
  text-align: center;
}

figure a p {
  padding: 16px 0;
  width: 160px;
  position: absolute;
  z-index: 1;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  transition: 0.5s;
}

figure a:hover p {
  color: rgb(0, 72, 167);
  transition: 0.5s;
}

figure a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

figure a:hover::before {
  transform: scaleX(1);
  transition: 0.5s;
}

/* ------------ #txtmedia ---------------- */

#txtmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  background-color: rgb(4, 75, 154);
}

#txtmedia h1 {
  padding: 20px;
  max-width: 920px;
  font-size: 3.6rem;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 1.2em;
  color: #fff;
}

/* ------------ #secoes ---------------- */

section {
  padding: 6.0em 8.0em;
}

section img {
  max-width: 100%;
}

/* ------------ #sec1 ---------------- */

#sec1 {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

#sec1 article {
  max-width: 500px;
  margin: 40px 30px 0 0;
}

#sec1 h1 {
  line-height: 1.2em;
  color: #555;
}

#sec1 p {
  font-size: 1.6rem;
  line-height: 1.5em;
  color: #666;
}

#sec1 ul {
  max-width: 705px;
  min-width: 585px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#sec1 li {
  padding: 4.0em 0;
  width: 195px;
  height: 195px;
  text-align: center;
  transition: .5s;
}

#sec1 li:hover {
  box-shadow: 0px 0px 27px 5px rgba(0, 0, 0, 0.17);
  transition: .5s;
}

#sec1 li img {
  height: 85px;
}

#sec1 h2 {
  font-size: 1.8rem;
  letter-spacing: 0.05em;
  color: #444;
  padding-top: 20px;
  font-weight: lighter;
}

/* ------------ #sec2 ---------------- */

#sec2 {
  padding: 0 0;
}

#sec2 h1 {
  text-align: center;
  letter-spacing: .005rem;
  color: rgb(65, 65, 65);
}

#sec2 ul {
  justify-content: space-between;
  margin-top: 30px;
}

#sec2 figure {
  position: relative;
  max-width: 236px;
  max-height: 427px;
}

#sec2 figure img {
  display: block;
  width: 100%;
}

#sec2 figure figcaption {
  position: absolute;
  bottom: 80px;
  left: 50%;
  margin-left: -80px;
  color: #fff;
}

#sec2 figure:hover p {
  color: rgb(0, 72, 167);
  transition: 0.5s;
}

#sec2 figure:hover a::before {
  transform: scaleX(1);
  transition: 0.5s;
}

.duaslinhas {
  padding: 8px;
  line-height: 1.7rem;
}

/* ------------ #sec3 ---------------- */

#sec3 h1 {
  padding-top: 20px;
  text-align: center;
  color: rgb(65, 65, 65);
}

#sec3 ul {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

#sec3 li {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 31%;
}

#sec3 li img {
  width: 68px;
}

#sec3 h2 {
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  color: rgb(80, 80, 80);
}

#sec3 p {
  padding-top: 10px;
  max-width: 300px;
  font-size: 1.6rem;
  color: rgb(90, 90, 90);
}

#sec3 p a {
  color: rgb(4, 75, 154);
  text-decoration: underline;
}

/* ------------ #sec4 ---------------- */

#sec4 p {
  width: 95%;
  margin: 0 auto 40px;
  font-size: 1.8rem;
  text-align: center;
  color: #999;
}

#sec4 p a {
  color: rgb(4, 75, 154);
  text-decoration: underline;
}

/* ------------ #artigos ---------------- */

#artigos {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#artigos article {
  max-width: 396px;
}

#artigos h2 {
  margin: 20px 0 10px;
  font-size: 2em;
  letter-spacing: 0.04em;
  color: #444;
}

#artigos p {
  font-size: 1.6em;
  color: #666;
}

/* max 1200px */

@media (max-width: 1200px) {
  /* ------------ #sec1 ---------------- */
  #sec1 {
    display: block;
  }
  #sec1 article {
    max-width: 100%;
    margin: 40px 0 0;
    text-align: center;
  }
  .sec-title {
    font-size: 2.6rem;
  }
  #sec1 p {
    margin: 20px 0 20px;
  }
  #sec1 ul {
    margin: auto;
  }
  /* ------------ #artigos ---------------- */
  #artigos h2, #artigos p {
    text-align: center;
  }
}

/* max 1080px */

@media (max-width: 1080px) {
  /* ------------ #sec3 ---------------- */
  #sec3 ul {
    display: block;
    padding: 50px 0;
  }
  #sec3 li {
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  #sec3 li:last-child {
    margin-bottom: 10px;
  }
  #sec3 p {
    max-width: 100%;
  }
}

/* max 980px */

@media (max-width: 980px) {
  /* ------------ #media ---------------- */
  #media h1 {
    font-size: 2.8rem;
  }
  #media figcaption {
    position: absolute;
    top: 60px;
    left: 40px;
    max-width: 500px;
    color: #fff;
  }
  /* ------------ #textmedia ---------------- */
  #txtmedia {
    height: auto;
    padding: 20px;
  }
  #txtmedia h1 {
    font-size: 2.6rem;
  }
  #media p.txt {
    margin: 15px 0;
    font-size: 1.6rem;
    line-height: 1.4em;
  }
  /* ------------ #secoes ---------------- */
  section {
    padding: 6.0em 4.0em;
  }
  /* ------------ #artigos ---------------- */
  #artigos {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  #artigos article {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 100%;
  }
  #artigos h2 {
    margin: 0px 0 5px;
    font-size: 1.8em;
    letter-spacing: 0.04em;
    color: #444;
  }
}

/* max 780px */

@media (max-width: 780px) {
  /* ------------ #media ---------------- */
  #media {
    height: 400px;
    overflow: hidden;
  }
  
  /* ------------ #artigos ---------------- */
  #artigos article {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 500px;
  }
  #artigos h2 {
    margin: 0px 0 5px;
    font-size: 1.8em;
    letter-spacing: 0.04em;
    color: #444;
  }
}

/* max 670px */

@media (max-width: 670px) {
  /* ------------ #media ---------------- */
  #sec1 ul {
    min-width: 195px;
    justify-content: space-evenly;
  }
}

/* max 510px */

@media (max-width: 510px) {
  /* ------------ #media ---------------- */
  #media {
    height: 500px;
  }
}

/* max 450px */

@media (max-width: 450px) {
  /* ------------ #txtmedia ---------------- */
  #txtmedia{
    display: none;
  }

  /* ------------ #sec2 ---------------- */
  #sec2 ul {
    max-width: 236px;
    margin: 30px auto;
  }

  /* ------------ #sec3 ---------------- */
  #sec3 li {
    width: 100%;
    margin-bottom: 60px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 40px;
  }
  #sec3 li:last-child {
    margin-bottom: 10px;
  }
  #sec3 p {
    max-width: 100%;
  }

  /* ------------ #sec4 ---------------- */
  #sec4{
    display: none;
  }

}

/* max 380px */

@media (max-width: 380px) {
  /* ------------ #media ---------------- */
  #media {
    height: 600px;
  }
  #media figcaption {
    top: 40px;
  }
  #media img {
    display: block;
    width: 150%;
  }

  /* ------------ #artigos ---------------- */
  #artigos{
    display: none;
  }

}

/* max 306px */

@media (max-width: 306px) {
  /* ------------ #media ---------------- */
  #media {
    height: 550px;
  }
  #media h1 {
    font-size: 2.0rem;
  }
  
}