@charset "utf-8";
/* ------------ #media ---------------- */

#media {
    position: relative;
}

#media img {
    display: block;
    width: 100%;
}

#media figcaption {
    position: absolute;
    top: 80px;
    left: 80px;
    max-width: 700px;
    color: #fff;
    padding-right: 30px;
}

#media h1 {
    font-size: 3.4rem;
}

#media p.txt {
    font-size: 1.6rem;
    line-height: 1.2em;
}

/* ------------ section ---------------- */

section {
    padding: 80px 40px 20px;
}

section>article {
    width: 100%;
    margin-bottom: 40px;
}

#titlesecoes {
    font-weight: normal;
    font-size: 3.4rem;
    text-align: center;
    color: #444;
}

section>article p {
    padding: 10px 0;
    font-size: 1.8rem;
    color: #aaa;
}

section>article ul {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 80px 20px;
}

section>article li:last-child {
    visibility: visible;
}

section>article li {
    text-align: center;
    padding: 20px;
    width: 30%;
    border: solid 1px rgb(4, 75, 154);
    ibox-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.11);
}

section>article li span {
    padding: 17px 0 0;
    display: block;
    width: 84px;
    height: 84px;
    margin: -60px auto 25px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(4, 75, 154);
    ibox-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.11);
}

section>article li img {
    display: block;
    width: 54px;
    margin: auto;
}

section>article h2 {
    font-size: 2.0rem;
    color: #666;
}

section>article p {
    font-size: 1.6rem;
    color: #aaa;
}

/* ------------ #txtmedia ---------------- */

#txtmedia {
    padding: 100px 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 75, 154);
}

#txtmedia h1 {
    max-width: 920px;
    font-size: 3.6rem;
    text-align: center;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    color: #fff;
}

#txtmedia p {
    padding-top: 20px;
    max-width: 920px;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    color: #fff;
}

/* ------------ #vantagens ---------------- */

#vantagens ul {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-position: inside;
    color: #444;
    gap: 0 50px;
}

#vantagens li {
    font-size: 2.6rem;
    padding-bottom: 10px;
    list-style: disc;
}

#vantagens ul span {
    font-size: 1.8rem;
    padding: 5px 0;
}

/* ------------ #artigos ---------------- */

#artigos {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
}

#artigos article {
    max-width: 396px;
}

#artigos h2 {
    margin: 20px 0 10px;
    font-size: 2em;
    letter-spacing: 0.04em;
    color: #444;
}

#artigos p {
    font-size: 1.6em;
    color: #666;
}

/* max 1280px */

@media (max-width: 1280px) {
    /* ------------ #sec1 ---------------- */
    #media figcaption {
        top: 60px;
        left: 60px;
    }
}

/* max 1080px */

@media (max-width: 1080px) {
    /* ------------ #media ---------------- */
    #media figcaption {
        top: 40px;
        left: 40px;
        max-width: 500px;
    }
    #media p.txt {
        margin: 10px 0;
    }
}

/* max 980px */

@media (max-width: 980px) {
    /* ------------ #content ---------------- */
    section>article li {
        width: 47%;
    }
    /* ------------ #textmedia ---------------- */
    #txtmedia {
        height: auto;
        padding: 20px;
    }
    #txtmedia h1 {
        font-size: 2.6rem;
    }
}

/* max 780px */

@media (max-width: 780px) {
    /* ------------ #media ---------------- */
    #media h1 {
        font-size: 2.6rem;
    }
    /* ------------ #content ---------------- */
    section>article p {
        text-align: center;
    }
    section>article li {
        width: 47%;
    }
}

/* max 580px */

@media (max-width: 580px) {
    /* ------------ #content ---------------- */
    section>article ul {
        flex-direction: column;
        align-items: center;
    }
    section>article li {
        width: 80%;
    }
    /* ------------ #vantagens ---------------- */
    #vantagens ul {
        text-align: center;
    }
    #titlesecoes{
        font-size: 2.2rem;
    }
}

/* max 410px */

@media (max-width: 410px) {
    /* ------------ section ---------------- */
    section {
        padding: 40px 20px 40px;
    }
    /* ------------ #media ---------------- */
    #media {
        background-color: rgb(4, 75, 154);
        height: 350px;
    }
    /* ------------ #content ---------------- */
    section>article li {
        width: 100%;
    }
    /* ------------ #textmedia ---------------- */
    #txtmedia h1 {
        font-size: 2.2rem;
    }
}