@charset "utf-8";
/* ------------ #media ---------------- */

#media {
    position: relative;
}

#media img {
    display: block;
    width: 100%;
}

#media figcaption {
    position: absolute;
    top: 80px;
    left: 145px;
    width: 500px;
    color: #fff;
}

#media h1 {
    font-size: 3.4rem;
}

#media p.txt {
    font-size: 1.6rem;
    line-height: 1.6em;
}

/* ------------ section ---------------- */

section {
    padding: 80px 40px 20px;
}

section>article {
    width: 100%;
}

section>article h1 {
    font-weight: normal;
    font-size: 3.4rem;
    text-align: center;
    color: #444;
}

section>article p {
    padding: 10px 0;
    font-size: 1.8rem;
    color: #aaa;
}

section>article ul {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section>article li {
    width: 30%;
    padding-bottom: 30px;
}

section>article h2 {
    font-weight: normal;
    font-size: 2.2rem;
    color: #444;
}

section>article p {
    font-size: 1.6rem;
    color: #aaa;
}

/* ------------ #txtmedia ---------------- */

#txtmedia {
    padding: 100px 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 75, 154);
}

#txtmedia h1 {
    max-width: 920px;
    font-size: 3.6rem;
    text-align: center;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    color: #fff;
}

#txtmedia p {
    padding-top: 20px;
    max-width: 920px;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    color: #fff;
}

/* ------------ #vantagens ---------------- */

#vantagens h1 {
    font-size: 3.4rem;
    font-weight: normal;
    color: #444;
}

#vantagens ul {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-position: inside;
    color: #444;
}

#vantagens li {
    font-size: 2.6rem;
    padding-bottom: 10px;
    list-style: disc;
}

#vantagens ul p {
    font-size: 1.8rem;
    padding: 5px 0;
}

/* ------------ #artigos ---------------- */

#artigos {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
}

#artigos article {
    max-width: 396px;
}

#artigos h2 {
    margin: 20px 0 10px;
    font-size: 2em;
    letter-spacing: 0.04em;
    color: #444;
}

#artigos p {
    font-size: 1.6em;
    color: #666;
}