@charset "utf-8";
/* Reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  border-collapse: collapse;
  border-spacing: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* Importação de fontes */

@font-face {
  font-family: 'montserratmedium';
  src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'), url('../fonts/montserrat-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratregular';
  src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'), url('../fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mntsrtxlight';
  src: url('../fonts/montserrat-extralight-webfont.woff2') format('woff2'), url('../fonts/montserrat-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Formatação da div Container */

html {
  font-size: 62.5%;
  background-color: #fff;
}

body {
  max-width: 1440px;
  margin: auto;
  min-width: 170px;
  font-family: 'montserratregular';
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

/* Formatação do header */

#header {
  display: flex;
  align-items: center;
  padding: 1.5em 4.0em 1em;
  justify-content: space-between;
  height: 70px;
  background-color: #fff;
}

#logo {
  width: 163px;
}

#nav {
  display: flex;
  align-items: center;
}

#menu {
  display: flex;
  gap: 5rem;
}

#menu a {
  display: block;
  padding: 1.0em 0;
  font-size: 1.8rem;
  color: rgb(143, 143, 143);
  font-family: 'montserratmedium';
  position: relative;
  transition: .5s;
}

#menu a:hover {
  color: rgb(4, 75, 154);
}

#menu li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 42px;
  border-bottom: 2px solid rgb(4, 75, 154);
  transform: scaleX(0);
  transition: .5s;
}

#menu li:hover a:after {
  transform: scaleX(1.1);
  transition: .5s;
}

#iconhdr {
  width: 37px;
  display: none;
}

#iconhdr:nth-last-child(1) {
  width: 42px;
}

#iconshdr {
  display: flex;
  align-items: center;
  gap: 1.0em;
}

#btn-mobile {
  display: none;
}

#menu-mobile {
  padding: 10px;
  background-color: salmon;
}

/* ------------ #main ---------------- */

main {
  background-color: #fff;
}

/* ------------ #footer ---------------- */

footer {
  background-color: #333;
  color: #fff;
}

footer h1 {
  padding: 20px 30px 10px;
  width: 100%;
  font-size: 3.6rem;
  font-family: 'mntsrtxlight';
  text-align: center;
  background-color: #222;
}

#principal {
  padding: 25px 30px;
  max-width: 1000px;
  margin: auto;
}

#principal>p {
  font-size: 1.6em;
  font-weight: lighter;
  text-align: center;
}

#principal>p a {
  color: #999;
  text-decoration: underline;
}

#bttm-nav {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  max-width: 800px;
}

#bttm-nav img {
  max-width: 240px;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 463px;
  font-size: 1.6em;
}

footer li a {
  padding: 5px 15px;
  color: #999;
}

footer li a:hover {
  text-decoration: underline;
  color: #fff;
}

#copysocial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: 'mntsrtxlight';
  font-size: 1.6em;
  color: #999;
  gap: 20px;
}

#copysocial span {
  display: flex;
  gap: 10px;
}

#copysocial a {
  opacity: 0.4;
}

#copysocial a:hover {
  opacity: 1;
}

#copysocial img {
  width: 35px;
}

/* --- Formatação para telas de tamanhos especificados nos comentários abaixo --- */

/* max 1280px */

@media (max-width: 1280px) {
  #header {
    height: 60px;
  }
  #menu a {
    font-size: 1.6rrem;
  }
  #logo {
    width: 143px;
  }
}

/* max 1200px */

@media (max-width: 1200px) {
  footer h1 {
    font-size: 2.6rem;
  }
}

/* max 1080px */

@media (max-width: 1080px) {
  #header {
    padding: 1.5em 2.0em 1em;
  }
}

/* max 920px */

@media (max-width: 920px) {
  #btn-mobile {
    display: block;
  }
  #menu {
    display: block;
    position: absolute;
    z-index: 999999;
    top: 60px;
    right: 0px;
    width: 100%;
    background-color: #ccc;
    transition: .6s;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
  }
  #nav.active #menu {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    visibility: visible;
    overflow-y: hidden;
  }
  #menu a {
    display: block;
    padding: 1.0em;
    font-size: 2.2rrem;
    color: rgb(66, 66, 66);
    text-align: center;
    padding: 20px;
  }
  #btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }
  #hamburguer {
    display: block;
    width: 20px;
    border-top: 2px solid #000;
  }
  #hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }
  #nav.active #hamburguer {
    border-top-color: transparent;
  }
  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px
  }
}

/* max 780px */

@media (max-width: 780px) {
  /* ------------ #footer ---------------- */
  #bttm-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 60px 0;
    max-width: 750px;
  }
  footer ul {
    width: 60%;
    margin: auto;
    justify-content: center;
    gap: 20px 0;
  }
}

/* max 500px */

@media (max-width: 500px) {
  /* ------------ header ---------------- */
  #logo {
    min-width: 123px;
  }
  #header {
    padding: 1.5em 2.0em 1em;
  }
  /* ------------ #footer ---------------- */
  #bttm-nav img {
    max-width: 240px;
  }
  footer ul {
    flex-direction: column;
  }
  #copysocial {
    flex-direction: column;
  }
  #copysocial p {
    text-align: center;
  }
}

/* max 380px */

@media (max-width: 380px) {
  /* ------------ #footer ---------------- */
  footer h1 {
    font-size: 2rem;
  }
  footer ul {
    width: 100%;
  }
}