@charset "utf-8";
/* Reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  border-collapse: collapse;
  border-spacing: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* Importação de fontes */

@font-face {
  font-family: 'montserratmedium';
  src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratregular';
  src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Formatação da div Container */
html{
  font-size: 62.5%;
}

body {
  max-width: 1440px;
  margin: auto;
  min-width: 170px;
  font-family: 'montserratregular';
  background-color: rgb(230, 230, 230);
}

/* Formatação do header */

#header {
  display: flex;
  align-items: center;
  padding: 1.5em 4.0em 1em;
  justify-content: space-between;
  height: 90px;
  background-color: #fff;
}

#logo {
  width: 203px;
}

#menu {
  display: flex;
}

#menu a {
  display: block;
  padding: 1.0em;
  font-size: 1.8rrem;
  color: rgb(66, 66, 66);
}

#nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#iconhdr {
  width: 37px;
}

#iconhdr:nth-last-child(1) {
  width: 42px;
}

#iconshdr {
  display: flex;
  align-items: center;
  gap: 1.0em;
}

#btn-mobile {
  display: none;
}

#menu-mobile {
  padding: 10px;
  background-color: salmon;
}

/* ------------ #media ---------------- */

main{
  background-color: #fff;
}

#media {
  position: relative;
}

#media img{
  display: block;
  width: 100%;
}

#media figcaption{
  position: absolute;
  top: 80px;
  left: 145px;
  width: 500px;
  color: #fff;
}

#media h1{
  font-size: 4.8rem;
}

#media p.txt{
  margin: 15px 0;
  font-size: 1.8rem;
  line-height: 1.6em;
}


figure a{
  position: absolute;
  width: 160px;
  height: 50px;
  border: 1px solid rgb(230, 230, 230);
  text-align: center;
}

figure a p{
  padding: 16px 0;
  width: 160px;
  position: absolute;
  z-index: 1;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
}

figure a:hover p{
  color: rgb(0, 72, 167);
  transition: 0.5s;
}

figure a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

figure a:hover::before{
  transform: scaleX(1);
  transition: 0.5s;
}

/* ------------ #txtmedia ---------------- */

#txtmedia{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  background-color: rgb(4, 75, 154);
}

#txtmedia h1{
  width: 920px;
  font-family: 'montserratregular';
  font-size: 3.6rem;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  color: #fff;
}

/* ------------ #secoes ---------------- */

section{
  padding: 6.0em 4.0em;
}

/* ------------ #sec1 ---------------- */

#sec1{
  display: flex;
  justify-content: space-between;
  padding: 0 4.0em 6.0em;
}

#sec1 article{
  margin: 70px 40px 0 0;
}

#sec1 h1{
  max-width: 500px;
  font-size: 3.6rem;
  line-height: 1.2em;
  padding: 0.5em 0;
  color: #555;
}

#sec1 p{
  max-width: 500px;
  font-size: 1.6rem;
  line-height: 1.5em;
  color: #666;
}

#sec1 ul{
  max-width: 705px;
  height: 450px;
  display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
  ibackground-color: cyan;
}

#sec1 li{
  ibackground-color: crimson;
  padding: 4.0em 0;
  width: 195px;
  height: 195px;
  text-align: center;
  box-shadow: 20px 20px 16px -6px rgba(66, 66, 66, .1);
}

#sec1 h2{
  font-family: 'montserratregular';
  font-size: 1.8rem;
  letter-spacing: 0.05em;
  color: #999;
  padding-top: 20px;
}


/* ------------ #sec2 ---------------- */

#sec2 h1{
  text-align: center;
  font-family: 'montserratregular';
  font-size: 3.6rem;
  letter-spacing: .005rem;
  color: rgb(65, 65, 65);
}

#sec2 ul{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

#sec2 li{
  display: flex;
  justify-content: space-between;
  width: 30%;
  font-family: 'montserratregular';
  ibackground-color: #222;
}

#sec2 li img{
  width: 68px;
}

#sec2 h2{
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  color: rgb(80, 80, 80);
}

#sec2 p{
  padding-top: 10px;
  max-width: 320px;
  font-size: 1.6rem;
  color: rgb(90, 90, 90);
}


/* ------------ #sec3 ---------------- */
#sec3{
  padding: 60px 0;
}

#sec3 h1{
  text-align: center;
  font-family: 'montserratregular';
  font-size: 3.6rem;
  letter-spacing: .005rem;
  color: rgb(65, 65, 65);
}

#sec3 ul{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

#sec3 figure {
  position: relative;
}

#sec3 figure img{
  display: block;
  width: 100%;
}

#sec3 figure figcaption{
  position: absolute;
  bottom: 80px;
  left: 50%;
  margin-left: -80px;
  color: #fff;
}


/* --- Formatação para telas de tamanhos especificados nos comentários abaixo --- */

/* max 1280px */

@media (max-width: 1280px) {
  body{
    ibackground-color: #ccc;
  }

  #header{
    height: 60px;
  }

  #menu a {
    font-size: 1.6rrem;
  }

  #logo {
    width: 143px;
  }
}

/* max 1080px */

@media (max-width: 1080px) {
  body{
    ibackground-color: #ccc;
  }

  #header{
    padding: 1.5em 2.0em 1em;
  }
}

/* max 980px */

@media (max-width: 980px) {
  #btn-mobile{
    display: block;
  }

  #iconshdr{
    /* display: none; */
  }

  #menu{
    display: block;
    position: absolute;
    z-index: 999999;
    top: 60px;
    right: 0px;
    width: 100%;
    background-color: #ccc;
    transition: .6s;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    display: block;
    padding: 1.0em;
    font-size: 2.2rrem;
    color: rgb(66, 66, 66);
    text-align: center;
    padding: 20px;
  }

  #btn-mobile{
    display: flex;
    padding: .5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  #hamburguer{
    display: block;
    width:20px;
    border-top: 2px solid #000;
  }

  #hamburguer::after, #hamburguer::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  #nav.active #hamburguer{
    border-top-color: transparent;
  }
  
  #nav.active #hamburguer::before{
    transform: rotate(135deg);
  }
  
  #nav.active #hamburguer::after{
    transform: rotate(-135deg);
    top: -7px
  }
}

/* max 500px */

@media (max-width: 500px) {

  #logo {
    min-width: 123px;
  }
  body{
    ibackground-color: #ccc;
  }

  #header{
    padding: 1.5em 2.0em 1em;
  }
}