@charset "utf-8";
/* ------------ #media ---------------- */

#media {
    position: relative;
}

#media img {
    display: block;
    width: 100%;
}

#media figcaption {
    position: absolute;
    top: 80px;
    left: 145px;
    width: 500px;
    color: #fff;
}

#media h1 {
    font-size: 3.4rem;
}

#media p.txt {
    font-size: 1.6rem;
    line-height: 1.6em;
}

/* ------------ section form---------------- */

section{
    padding: 80px 40px 60px;
}

/* ------------ #trabalhe ---------------- */

#trabalhe{
    display: flex;
    justify-content: space-between;
}

/* ------------ article ---------------- */

article{
    max-width: 550px;
    color: #444;
}

article h1{
    font-size: 5.8rem;
    font-weight: normal;
    letter-spacing: 0.4px;
}

article h2{
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: 1.3px;
    text-align: justify;
}

article p{
    padding: 15px 0;
    font-size: 1.6rem;
    letter-spacing: 1.2px;
}

/* ------------ form ---------------- */

form{
    width: 100%;
    padding-left: 100px;
}

input, textarea{
    padding: 5px 10px 0 15px;
    width: 100%;
    height: 47px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-family: 'montserratregular';
    font-size: 1.8rem;
}

::placeholder{
    opacity: .35;
}

label{
    margin-left: 15px;
    display: block;
    margin-bottom: 10px;
    font-family: 'montserratmedium';
    font-size: 1.8rem;
    color: rgb(4, 75, 154);
}

form input[type=submit]{
    font-family: 'montserratmedium';
    border: none;
    background-color: lightgreen;
    color: green;
    transition: .3s;
}

form input[type=submit]:hover{
    background-color: green;
    color: lightgreen;
    transition: .3s;
}

textarea{
    height: 147px;
    resize: none;
}
