@charset "utf-8";
p {
    line-height: 2rem;
}

/* ------------ #media ---------------- */

#media {
    position: relative;
}

#media img {
    display: block;
    width: 100%;
}

#media figcaption {
    position: absolute;
    padding-right: 30px;
    top: 80px;
    left: 145px;
    max-width: 500px;
    color: #fff;
}

#media h1 {
    font-size: 3.4rem;
}

#media p.txt {
    font-size: 1.6rem;
    line-height: 1.6em;
}

/* ------------ section ---------------- */

section{
    padding: 80px 40px 60px;
}

/* ------------ #trabalhe ---------------- */

#trabalhe{
    display: flex;
    justify-content: space-between;
}

/* ------------ article ---------------- */

article{
    max-width: 550px;
    color: #444;
}

article h1{
    font-size: 5.8rem;
    font-weight: normal;
    letter-spacing: 0.4px;
}

article h2{
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: 1.3px;
    text-align: justify;
}

article p{
    padding: 15px 0;
    font-size: 1.6rem;
    letter-spacing: 1.2px;
}

/* ------------ form ---------------- */

form{
    width: 100%;
    padding-left: 100px;
}

input, textarea{
    padding: 5px 10px 0 15px;
    width: 100%;
    height: 47px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-family: 'montserratregular';
    font-size: 1.8rem;
}

::placeholder{
    opacity: .35;
}

label{
    margin-left: 15px;
    display: block;
    margin-bottom: 10px;
    font-family: 'montserratmedium';
    font-size: 1.8rem;
    color: rgb(4, 75, 154);
}

form input[type=submit]{
    font-family: 'montserratmedium';
    border: none;
    background-color: lightgreen;
    color: green;
    transition: .3s;
}

form input[type=submit]:hover{
    background-color: green;
    color: lightgreen;
    transition: .3s;
}

textarea{
    height: 147px;
    resize: none;
}

/* max 1280px */

@media (max-width: 1280px) {
    /* ------------ #media ---------------- */
    #media figcaption {
        top: 60px;
        left: 40px;
    }
}

/* max 1080px */

@media (max-width: 1080px) {

    /* ------------ #trabalhe ---------------- */
    
    #trabalhe{
        justify-content: space-between;
        flex-direction: column;
    }

    /* ------------ article ---------------- */
    
    article{
        max-width: 100%;
    }

    article h1{
        text-align: center;
    }

    article h2{
        letter-spacing: inherit;
        text-align: center;
    }

    article p{
        padding: 40px 0;
    }

    /* ------------ form ---------------- */
    
    form{
        width: 100%;
        padding: 40px 0 0;
    }
    
}

/* max 780px */

@media (max-width: 780px) {
    /* ------------ #media ---------------- */
    #media figcaption {
        top: 40px;
    }
    #media h1 {
        font-size: 2.6rem;
    }

    /* ------------ article ---------------- */

    article h1{
        font-size: 3.8rem;
    }

    article h2{
        font-size: 2.0rem;
    }
}

/* max 580px */

@media (max-width: 580px) {

    /* ------------ article ---------------- */

article p{
    text-align: center;
}
}

/* max 410px */

@media (max-width: 410px) {

    /* ------------ section ---------------- */
    
    section{
        padding: 60px 20px 40px;
    }
    /* ------------ #article ---------------- */
    #media {
        height: 400px;
        overflow: hidden;
    }
}
