@charset "utf-8";
/* CSS Document */

/* ############# A formatação abaixo é aplicada somente aos conteúdos e includes que são fixos/repetidos em todas as páginas, por exemplo, no caso dos elementos "body", "header", "container", "barra de navegação principal" e "rodapé"... a formatação do conteúdo exclusivo de cada página está incluída no seu respectivo arquivo .css ############# */

/* --- Formatação para telas de todos os tamanhos --- */

/* Importação de fontes */

@font-face {
  font-family: 'montserratmedium';
  src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
  border-collapse: collapse;
  border-spacing: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  min-width: 170px;
}

body{
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

/* Para deixar as imagens responsivas */

img {
  max-width: 100%;
  height: auto;
}

img {
  -ms-interpolation-mode: bicubic;
}

#map_canvas img, #map_canvas embed, #map_canvas object, .map_canvas img, .map_canvas embed, .p_canvas object {
  max-width: none !important;
}

img {
  display: inline-block;
  vertical-align: middle;
}

/* Formtação padrão para a tipografria, resalvo alguns títulos com font-size maior que 2.6em que estão formatado no arquivo css de sua respectiva página */

article, a {
  letter-spacing: 0.031em;
  font-size: 1.6em;
}

h1, h2, h3, h4 {
  font-weight: normal;
  color: rgb(80, 80, 80);
}

p {
  font-size: 1.6em;
}

hr {
  background: rgb(80, 80, 80);
  height: 1px;
}

/* Formatação da div Container */

.container {
  max-width: 1440px;
  margin: auto;
}

/* Formatação do header */

#header {
  display: flex;
  align-items: center;
  padding: 2.5em 8.0em 1em;
  justify-content: space-between;
  background-color: #ccc;
}

#logo {
  width: 203px;
  height: 58px;
}

#menu{
  display: flex;
  
}

#menu a{
  display: block;
  padding: 1.0em;
  font-size: 1.8rem;
  color: rgb(66, 66, 66);
  font-family: 'montserratmedium';
}

#nav{
  display: flex;
  align-items: center;
  gap: 4.0em;
}

#iconhdr {
  width: 37px;
  height: 37px;
}

#iconhdr:nth-last-child(1){
  width: 44px;
  height: 44px;
}

#iconshdr{
  display: flex;
  align-items: center;
  gap: 2.0em;
}

#menu-mobile{
  display: none;
}

#menu-mobile{
  padding: 10px;
  background-color: salmon;
}

/* Formatação do footer */

.rodape {}

/* --- Formatação para telas de tamanhos especificados nos comentários abaixo --- */

/* 0px à 600px */

@media (max-width: 37.500em) {
  #menu-mobile{
    display: block;
  }

  #menu, #iconshdr{
    display: none;
  }

  #header {
    display: flex;
    align-items: center;
    padding: 2.5em 2.0em 1em;
    justify-content: space-between;
    background-color: #ccc;
  }
}